html {
    font-family: 'Montserrat', sans-serif;
    color: #454545;
    width: 100%;
}

body {
    width: 100%;
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin: 8px 24px 0;
}

.logo {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
}

.logo-mobile {
    display: none;
}

.logo img {
    height: 52px;
}

.logo h2 {
    font-weight: 200;
}

.logo span {
    font-weight: 600;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: auto 8px;
    list-style-type: none;
}

nav ul li a {
    font-weight: 400;
    font-size: 20px;
    color: #454545;
    text-decoration: none;
    transition: all 500ms;
}

nav ul li a:hover {
    color: whitesmoke;
    background-color: #5E5E5E;
    padding: 10px;
    border-radius: 5px;
}

/* Main */
/* Start here */

main {
    top: 64px;
    position: relative;
    width: 100%;
}

main .start {
    background-color: #DBDBDB;
    display: flex;
    width: 100%;
}

.start img {
    width: 55%;
    height: 40%;
    margin: 32px 24px;
}

.banner {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.banner h1 {
    font-size: 3em;
    font-weight: 800;
    line-height: 1.4em;
}

.banner h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.7em;
}

.banner a {
    padding: 8px;
    font-weight: 400;
    font-size: 20px;
    background-color: #DBDBDB;
    color: #454545;
    text-align: left;
    text-decoration: none;
    border-left-style: solid;
    border-left-color: #454545;
    transition: background-color 500ms, color 500ms 100ms;
}

.banner a:hover {
    background-color: #454545;
    color: #DBDBDB;
}

/* Blog*/

.blog {
    display: flex;
    justify-content: center;
    width: 100%;
}

.emanuel {
    width: 60%;
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
}

.emanuel img {
    width: 100%;
}

.emanuel p {
    font-weight: 300;
}

.emanuel h5 {
    font-weight: 500;
}

.info {
    margin-top: 16px;
    width: 40%;
}

.info .note {
    display: flex;
    align-items: center;
    padding: 16px;
    transition: all 500ms;
}

.info .note:hover {
    background-color: #DBDBDB;
}

.text {
    margin-left: 1.5em;
}

.text h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
} 

.text a {
    font-size: 1em;
    color: cornflowerblue;
    text-decoration: none;
}

.text a:hover {
    color: dodgerblue;
    font-weight: 600;
}

.note img {
    height: auto;
    width: 35%;
}

/* Start learning */

.learning {
    background-color: #DBDBDB;
    padding: 32px 72px;
}

.learning h1 {
    text-align: center;
    margin-bottom: 32px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 27%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    transition: all 500ms ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 20px auto 0 16px;
}

.card p {
    margin: 0 auto 24px 16px;
}

.card p span {
    line-height: 50px;
}

.card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Thesis exhibit */ 

.thesis {
    padding: 32px 0 32px 24px;
}

.thesis h1 {
    text-align: center;
    margin: 0 auto 32px;
}

.information {
    display: flex;
    justify-content: center;
    width: 100%;
}

.video {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 16px;
}

video {
    width: 100%;
}

.video p {
    margin-top: 0;
    font-weight: 300;
}

.other {
    margin-left: 24px;
    width: 40%;
}

.other .choice {
    display: flex;
    align-items: center;
    padding: 16px;
    transition: all 500ms;
}

.other .choice:hover {
    background-color: #DBDBDB;
}

.other img {
    height: auto;
    width: 35%;
}

.inside {
    margin-left: 1.5em;
}

.inside h3, .video h3 {
    font-weight: 500;
}

/* Footer */

footer {
    border-top: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 10px;
    font-size: 10px; 
    font-weight: 300;
    position: relative;
    top: 64px;
}

.privacy {
    display: flex;
    justify-content: space-between;
}

.privacy a {
    margin: 0 7px;
    text-decoration: none;
}

.privacy a:hover {
    font-weight: 500;
}

/* Mobile version */

@media only screen and (max-width: 900px) {
    header {
        top: 10px;
        border: 2px solid #454545;
        border-radius: 30px;
        width: 95%;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }

    header .content {
        display: none;
    }

    .logo-mobile {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 90px;
        margin: 8px 0 0;
    }

    .logo-mobile img {
        height: 80%;
    }

    main .start {
        flex-direction: column;
    }

    .start img {
        width: 100%;
        margin: 0px;
    }

    .banner {
        width: 100%;
        margin-left: 0;
    }

    .banner h1 {
        font-size: 2.5em;
        margin-top: 32px;
        margin-left: 16px;
    }
    
    .banner h3 {
        font-size: 2em;
        margin-left: 16px;
    }

    .banner a {
        width: 60%;
        align-self: center;
        padding: 20px;
        font-weight: 500;
        font-size: 20px;
        background-color: #454545;
        color: #DBDBDB;
        text-align: center;
        text-decoration: none;
        border-radius: 30px;
        margin-bottom: 32px;
        margin-left: 0;
    }

    .emanuel {
        display: none;
    }

    .info {
        margin: 16px 0 32px 16px;
        width: 100%;
    }

    .blog {
        border-bottom: 1px solid #DBDBDB;
    }

    .info .note:hover {
        background-color: white;
    }

    .learning {
        background-color: white;
        padding: 32px 16px;
        border-bottom: 1px solid #DBDBDB;
    }

    .learning h1 {
        margin-top: 0;
        margin-bottom: 16px;
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .card {
        background-color: #DBDBDB;
        display: flex;
        flex-direction: column;
        margin: 8px;
        width: 100%;
        border-radius: 30px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    .card:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .card img, .card p {
        display: none;
    }

    .card h3 {
        margin: 20px auto 20px 20px;
    }

    .other, .video h3, .video p {
        display: none;
    }

    .video {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .thesis {
        padding: 32px 0 24px;
    }

    footer {
        border-top: 0 solid #DBDBDB;
    }

    footer .privacy {
        display: none;
    }
}
